<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= content_for(:description) || 'Default description for webblog' %>">
    <meta name="keywords" content="<%= content_for(:keywords) || 'blog, posts, web' %>">
    <title><%= content_for(:title) || "Webblog" %></title>
    <%= csrf_meta_tags %> <!-- สำหรับความปลอดภัยของแอป -->
    <%= csp_meta_tag %>
    <%= yield :head %> <!-- สำหรับการเพิ่มข้อมูลใน head ที่เพิ่มเติมในแต่ละหน้า -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <!-- Navigation Bar -->
    <nav class="bg-blue-500 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <% if user_signed_in? %>
          <p class="text-lg">Welcome .☘︎ ݁˖, <%= current_user.email %>!</p>
          
          <!-- ลิงก์ล็อกเอาท์ (Log Out) -->
          <%= form_for :logout, url: destroy_user_session_path, method: :delete do |f| %>
            <%= f.submit 'Log Out', class: 'text-white' %>
          <% end %> |
          
          <%= link_to 'New Post', new_post_path, class: 'text-white' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'text-white' %> |
          <%= link_to 'Login', new_user_session_path, class: 'text-white' %>
        <% end %>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
